.App {
  text-align: center;
  background-image: url("../../src/background2.jpg");
  background-size: 100%, 1500px;
  background-color: #6683bd;
  min-height: 330vh;
}

.Main-Pic {
  height: 50vmin;
  pointer-events: none;
  position: center;
  right: 0%;
}

.Main-Pic2 {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: midnightblue;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-Pic {
    animation: Main-Pic-Movement linear infinite alternate 0.5s;
    margin-top: 0px;
    margin-bottom: 30px;
    height: 350px;
    fill: green;
  }
}

.SocialMedia {
  height: 8vmin;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  border-radius: 50%;
  pointer-events: auto;
  position: center;
  right: 0%;
}

table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 1px solid black;
}

form {
  margin-left: 10%;
  margin-right: 10%;
  border: 7px solid black;
  height: 230px;
  text-align: right;
  background-image: url("../../src/perth+cbd.png");
  background-size: 100%, 80%;
}

.name,
.email {
  width: 30%;
  margin-right: 10%;
}

b {
  margin-right: 240px;
  color: white;
}

.message {
  width: 30%;
  margin-right: 10%;
  line-height: 3em;
}

.submitButton {
  margin-right: 19%;
  line-height: 3em;
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes Main-Pic-Movement {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
