.Main-Pic {
  height: 50vmin;
  pointer-events: none;
  position: center;
  right: 0%;
}

.Cat-Pic {
  height: 40vmin;
  pointer-events: none;
  position: center;
  right: 0%;
}

.icons {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.icons:hover {
  transform: scale(1.5);
}

.Tiny-Pic {
  height: 50vmin;
  pointer-events: none;
  position: absolute;
  right: 30px;
}

.Main-Pic2 {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: midnightblue;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-Pic {
    animation: Main-Pic-Movement linear infinite alternate 0.5s;
    margin-top: 0px;
    margin-bottom: 30px;
    height: 300px;
  }
  .Tiny-Pic {
    animation: Main-Pic-Movement linear infinite alternate 0.5s;
    margin-top: -150px;
    margin-bottom: 30px;
    height: 200px;
  }
}

.SocialMedia {
  height: 8vmin;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  border-radius: 50%;
  pointer-events: auto;
  position: center;
  right: 0%;
}

.name,
.email {
  margin-top: 15px;
  width: 30%;
  margin-right: 10%;
}

b {
  margin-right: 240px;
  color: white;
}

.message {
  width: 30%;
  margin-right: 10%;
  line-height: 3em;
}

.submitButton {
  margin-right: 19%;
  line-height: 3em;
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes Main-Pic-Movement {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.FlyingBirds {
  position: absolute;
  animation: FlyingBirds-Movement 8s infinite;
}

@keyframes FlyingBirds-Movement {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
